{% extends 'SleepnessUberTranslationAdminBundle::layout.html.twig' %}

{% block uber_translation_bundle_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include 'SleepnessUberTranslationAdminBundle:Translation:form.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'SleepnessUberTranslationAdminBundle:Translation:trans_credentials.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
